.speech{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
color: black;
}
.stage-direction{
    font-family: cursive;
    font-size: 20px;
    background-color: burlywood;
color: black;
}
.stage-direction:hover{
    color: cornsilk;
    background-color: darkgreen;
}
.name{
    font-family: monospace;
    font-size: 22px;
color: black;
}

.CASSIO{
color: blue;
}
.OTHELLO{
    color: brown;
}
DESDEMONA{
    color: cyan;
}
IAGO{
    color: darkgrey;
}
table , th, td {
    color: darkorchid;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px 10px 20px 15px;
    margin: 10px 15px 20px 15px;

}

th{
    background-color: blanchedalmond;
}
tr:nth-child(even){
    background-color: cornsilk;
}